<form (ngSubmit)="onSubmit()" [formGroup]="updatePasswordFormGroup">
    <mat-form-field appearance="outline">
        <mat-label>Mot de passe actuel</mat-label>
        <input #currentPassword matInput [type]="hideCurrentPassword ? 'password' : 'text'" placeholder="Mot de passe actuel" aria-label="Mot de passe actuel" id="current_password" formControlName="current_password" name="current_password" required maxlength="128">
        <a mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide current password'" [attr.aria-pressed]="hideCurrentPassword">
            <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>
        <mat-error *ngIf="updatePasswordFormGroup.get('current_password').invalid">{{ getCurrentPasswordErrorMessage() }}</mat-error>
        <mat-hint align="end">{{ currentPassword.value?.length || 0 }}/128</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" hintLabel="Minimum 8 caractères">
        <mat-label>Nouveau mot de passe</mat-label>
        <input #newPassword matInput [type]="hideNewPassword ? 'password' : 'text'" placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe" id="new_password" formControlName="new_password" name="new_password" required minLength="8" maxlength="128">
        <a mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNewPassword">
            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>
        <mat-error *ngIf="updatePasswordFormGroup.get('new_password').invalid">{{ getNewPasswordErrorMessage() }}</mat-error>
        <mat-hint align="end">{{ newPassword.value?.length || 0 }}/128</mat-hint>
    </mat-form-field>

    <button mat-button type="submit" class="btn btn-success btn-md m-0" [disabled]="!updatePasswordFormGroup.valid">Valider</button>
</form>