<div class="card category-card">
    <div class="view overlay">
        <img src="{{ category.image_path }}" class="card-img-top" alt="">
        <div class="badges-thumbnail">
        <span class="badge badge-pill badge-info" *ngFor="let badge of category.badges">{{ $any(badge).name }}</span>
        </div>
        <a routerLink="/{{ featureSlug }}/{{ category.slug }}">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <div class="card-body">
        <a routerLink="/{{ featureSlug }}/{{ category.slug }}" class="text-dark">
            <h4 class="card-title">{{ category.name }}</h4>
        </a>

        <p class="card-text">{{ category.description }}</p>
        <a routerLink="/{{ featureSlug }}/{{ category.slug }}" class="btn btn-primary btn-md">
            <span>{{ buttonName }}</span>
            <mat-icon>{{ buttonIcon }}</mat-icon>
        </a>
    </div>
</div>