<section class="about-us-wrapper">
    <mat-card>
        <mat-card-content>
            <h1 class="text-center">À propos</h1>
            <h3>UTile, c'est quoi ?</h3>
            <p>UTile est un site web (une application mobile à  l'avenir si le projet trouve sa place) qui a pour but de simplifier au mieux la vie des étudiants des UTs et de créer/conserver la communication avec les futurs/anciens membres des UTs.</p>
            <h3>Quels sont les services proposés ?</h3>
            <p>Note : la plupart des services ne sont pas (entièrement) disponibles.</p>
            <p>Note 2 : les noms sont extrêmement nuls donc vous pouvez en proposer des plus mélodieux par <a routerLink="/surveys/nominations">ici</a>.</p>
            <h4>1. Doc'UT</h4>
            <p>Doc'UT est l'idée fondatrice d'UTile.
                Il s'agit grossièrement d'un WikiHow des galères et questions administratives, étudiantes et associatives.
                Il est/sera possible de poser des questions et répondre/modifier les réponses aux questions posées.
                Un outil de recherche performant sera déployé pour s'y retrouver rapidement.</p>
            <h4>2. UTdiant</h4>
            <p>UTdiant regroupe l'ensemble des services réservés aux étudiants des UTs. Voici les différents outils:</p>
            <h5>- Sched'UT</h5>
            <p>Emploi du temps étudiant et assos, dont gestion des notifications.</p>
            <h5>- Agenda</h5>
            <p>Agenda de tous les événements, dont ses événements personnels avec possibilité de tri et de gestion des notifications.</p>
            <h5>- Pellic'UT</h5>
            <p>Albums photos des différents événements UTs, avec recherche et préservation du droit à  l'image.</p>
            <h5>- Logement</h5>
            <p>Regroupement des offres de logement pertinentes pour les étudiants en UTs, dont avis de précédents étudiants.</p>
            <h5>- Stages & Emplois</h5>
            <p>Regroupement des stages et emplois pertinents pour les étudiants en UTs, dont avis des précédents étudiants.</p>
            <h5>- Gestion des UVs</h5>
            <p>Recherche d'UV, d'avis et prévision de disponibilité des UVs à partir des choix des autres.</p>
            <h5>- Cours & Annales</h5>
            <p>Regroupement des cours, annales et corrigés des étudiants.</p>
            <h5>- Aide aux devoirs</h5>
            <p>Regroupement des réponses les plus complètes aux questions scolaires formulées dans Commun'UT.</p>
            <h5>- Harmonie</h5>
            <p>Prise de note collaborative et en direct des cours pendant les CM et TD par exemple, avec gestion des rôles et des droits.</p>
            <h5>- Glob'UT</h5>
            <p>Carte répertioriant les lieux intéressants ainsi que les événements et incidents récents.</p>
            <h5>- Associ'UT</h5>
            <p>Gestion des assos: membres, ressources, événements, publications.</p>
            <h4>3. Commun'UT</h4>
            <p>Le réseau social interUT. Il faut assurer la simplicité d'utilisation, l'organisation des discussions, la modération des contenus et l'intégration sur UTile. Discord rempli plutôt bien ces points-ci.</p>
            <h4>4. Actualités</h4>
            <p>Pas de surprise, actualités universitaires et associatives. Évidemment, une capacité de recherche poussée et la possibilité de choisir les notifications par type d'actualités.</p>
            <h4>5. Sondages</h4>
            <p>Créer et/ou répondre à des sondages, avec la possibilité de choisir le public visé lors de la création.
                La création sera uniquement réservée aux membres des UTs pour des utilisations non-commerciales.</p>
            <h4>6. Quiz</h4>
            <p>Créer et/ou faire des quiz. Pratique pour réviser (ou s'amuser), surtout la veille de son final (ahem).</p>
            <h4>7. F'UTilités</h4>
            <p>La terre sacrée du F. En bref, tous les services futiles qui, objectivement, vous ferons perdre du temps.</p>
            <h4>8. Contrib'UT</h4>
            <p>Regroupement des formulaires pour collaborer dans les différents services cités précédemment pour mieux s'y retrouver.</p>
            <h3>UTile, c'est gratuit ?</h3>
            <p>Oui. Entièrement gratuit. Je refuse catégoriquement de faire payer des étudiants des services que je juge être nécessaires.</p>
            <h3>Quelles sont les priorités ?</h3>
            <p>A très court terme, assurer la stabilité du site, corriger les bugs et offrir une traduction pour les étudiants internationaux (au moins anglais).
                A plus grande échelle (si l'idée plait), implémenter les services susmentionnés et en offrir davantage. 
                Pour la plupart des services mentionnés, l'intégration devrait être assurée d'ici la fin de l'intersemestre (fin février 2020) si la technologie utilisée par le projet demeure inchangée.</p>
            <h3>Comment participer ou donner son avis ?</h3>
            <p>Sur <a routerLink="/contribute">Contrib'UT</a> ou via le formulaire de <a routerLink="/contact">Contact</a>.</p>
        </mat-card-content>
    </mat-card>
</section>