<div class="container" [hidden]="submitted">
    <div class="content-header">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Mot de passe oublié</h2>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordFormGroup">
        <mat-form-field>
            <input type="email" placeholder="Email" aria-label="Email" matInput id="email" formControlName="email" name="email" required>
            <mat-error *ngIf="resetPasswordFormGroup.get('email').invalid">{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>
        
        <button type="submit" class="btn btn-success btn-md" [disabled]="!resetPasswordFormGroup.valid">Valider</button>
    </form>
</div>
<div class="container" [hidden]="!submitted">
    <div class="status-info text-center">
        <h2>Prochaine étape</h2>
        <mat-icon class="icon-status icon-info">email</mat-icon>
    </div>
    <p>Un mail de réinitialisation de votre mot de passe a été envoyé à "<strong>{{ email }}</strong>" par "noreply@ut-ile.firebaseapp.com".</p>
    <p>Cliquez sur le lien de réinitialisation présent dans ce mail afin de réinitialiser votre mot de passe.</p>
    <p>Vous n'avez pas reçu de mail ? Vérifiez vos spams ou :</p>
    <button mat-button class="btn btn-primary btn-md mb-2" (click)="sendEmailResetPassword(true)" [disabled]="emailPasswordResetReSent">Renvoyer un mail</button>
</div>
