<div class="home-thumbnail">
    <div class="background-thumbnail">
        <img class="background-thumbnail-image" src="https://firebasestorage.googleapis.com/v0/b/ut-ile.appspot.com/o/home%2Fbackground-thumbnail.jpg?alt=media&token=ec915256-dfc8-4840-bb45-f648116ab290"/>
    </div>
    <div class="content-thumbnail">
        <h1 class="display-4 font-weight-bold thumbnail-title">En construction</h1>
        <hr class="hr-light">
        <p>
            <strong>{{ featureStatus }}</strong>
        </p>
        <p class="mb-4">
            <strong>{{ featureMessage }}</strong>
        </p>
        <a routerLink="{{ previousRoute }}" class="btn btn-outline-white">
            <span>Retour</span>
        </a>
    </div>
</div>