<div class="content-header">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Créer un quiz</h2>
    <p class="text-center w-responsive mx-auto mb-5"><u>Attention</u> : Cette fonctionnalité n'est pas encore totalement intégrée.</p>
    <p class="text-center w-responsive mx-auto mb-5">Vos modifications ne seront donc <u>pas enregistrées</u>.</p>
    <p class="text-center w-responsive mx-auto mb-5">Vous pouvez cependant vous familiariser dès maintenant avec l'éditeur de quiz ci-dessous.</p>
</div>
<survey-creator [json]="quizJson" (surveySaved)="fetchData($event)"></survey-creator>
