<section class="reset-password-wrapper">
    <mat-card>
        <mat-card-content>
            <div class="reset-password-header text-center">
                <h1>Réinitialisez votre mot de passe</h1>
            </div>
            <form *ngIf="displayForm && !submitted" (ngSubmit)="onSubmit()" [formGroup]="resetPasswordFormGroup">
                <mat-form-field>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe" id="password" formControlName="password" name="password" required>
                    <a mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="resetPasswordFormGroup.get('password').invalid">{{ getPasswordErrorMessage() }}</mat-error>
                </mat-form-field>
                <button type="submit" class="btn btn-success btn-md" [disabled]="!resetPasswordFormGroup.valid">Valider</button>
            </form>
            <div class="reset-password-success" *ngIf="submitted">
                <div class="status-info-header text-center">
                    <h3>Félicitations</h3>
                    <mat-icon class="icon-status icon-success">done_all</mat-icon>
                    <p>Le mot de passe du compte "{{ email }}" a bien été modifié !</p>
                    <button mat-button class="btn btn-success btn-md" (click)="redirectToHome()">Revenir à l'accueil</button>
                </div>
            </div>
            <div class="reset-password-error" *ngIf="invalidActionCode">
                <div class="status-info-header text-center">
                    <h3>Erreur de validité</h3>
                    <mat-icon class="icon-status icon-error">close</mat-icon>
                    <p>Le lien de réinitialisation a expiré ou est invalide. Veuillez réitérer votre demande ou <a routerLink="/contact">contactez-nous.</a></p>
                    <button mat-button class="btn btn-primary btn-md" (click)="redirectToHome()">Revenir à l'accueil</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
