.contribute-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    width: 75%;
    padding: 0px;
    margin: 10px;
    /*height: 400px;*/
}

.tab-content {
    margin: 5px;
}

.contribute-presentation {
    margin: 5px;
}
